*{
    padding: 0;
    margin: 0;
}
header h1 {
    font-family: "Microsoft YaHei";
    position: absolute;
    right: 200px;
    top: 0;
    line-height: 94px;
    background-image: url("images/miku.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;
    text-indent: -9999px;
}
header{
    background-color:rgba(35, 28, 26, 0.8);
    height: 90px;
    width: 100%;
    position: fixed;
}
header a{
    color: white;
    text-decoration: none;
}
header li {
    display: inline;
    margin-right:4vw;
}
header ul {
    font-family: "Microsoft YaHei";
    font-weight: 100;
    font-size: 18px;
    position: absolute;
    left: 3vw;
    top: 0;
    line-height: 90px;
}
header a:hover {
    text-decoration: underline;
}
header h2 {
    font-family: "Microsoft YaHei";
    color: white;
    font-weight: 100;
    font-size: 28px;
    position: absolute;
    right: 3vw;
    top: 0;
    line-height: 70px;
}
header h3 {
    font-family: "Microsoft YaHei";
    color: white;
    font-weight: 200;
    font-size: 12px;
    position: absolute;
    right: 6.2vw;
    top: 0;
    line-height: 120px;
}
main h2 {
    color: white;
    display: flex;
    font-weight: 100;
    font-size: 50px;
    height: 1000px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
footer{
    background-color: black;
    color: white;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    line-height: 1.8em;
}
main{
    color: white;
    background-color: antiquewhite;
    height: 110vh;
    background-image: url("images/hw20.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
