<!-- nav bar -->

<div class="nav-container">
    <nav>
        <div id="navBar">
            <div id="navLeft">
                <div id="logo">
                    <img src="images/logo.png" id="logoimg" alt="logo" >
                </div>    
                <div id="homeText"><a href="/"><p >Home</p></a></div>
                <div id="communityText"><a href="/community">Community</a></div>
                <div id="RLText"><a href="/resource" >Resource links</a></div>
                <div id="helpText"><a href="#" >Help</a></div>
            </div>
            <div id="navRight">
                <div id="userProfileLogo">
                    <img src="images/userprofile.png" id="userprofile" alt="logo" >
                </div>
                <div id="userName">Guest</div>
            </div>
        </div>
    </nav>
</div>