<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>phigros</title>
    <link rel="stylesheet" href="/css/stylephigros.css">
</head>

<body style="margin: 0px;">
    <%- include("nav.ejs",{}) %>
        <div class="content-container">
            <div id="headbar">
                <img src="images/phinavbar.png" alt="phinavbar" id="phinavbar">
            </div>

            <!--songs list auto formated by css -->

            <div id="songbar">
                <div id="songbararea">
                    <div class="image-grid">
                        <div class="image-item">
                            <a href="/alphe-0">
                                <img src="images/songicon/alphe0.png" alt="alphe0">
                                <p class="image-title">Alphe-0</p>
                            </a>
                        </div>
                        <div class="image-item">
                            <img src="images/songicon/chronomia.png" alt="chro">
                            <p class="image-title">Chronomia</p>
                        </div>
                        <div class="image-item">
                            <img src="images/songicon/cparadox.png" alt="clockparadox">
                            <p class="image-title">Clock Paradox</p>
                        </div>
                        <div class="image-item">
                            <img src="images/songicon/hikari.png" alt="hikari">
                            <p class="image-title">光</p>
                        </div>
                        <div class="image-item">
                            <img src="images/songicon/lyrith.png" alt="lyrith">
                            <p class="image-title">Lyrith-迷宫</p>
                        </div>
                        <div class="image-item">
                            <img src="images/songicon/nooneyesman.png" alt="nooneyesman">
                            <p class="image-title">NO ONE YES MAN</p>
                        </div>
                        <div class="image-item">
                            <img src="images/songicon/rrhar.png" alt="rrhar">
                            <p class="image-title">Rrhar'il</p>
                        </div>
                        <div class="image-item">
                            <img src="images/songicon/spasmodic.png" alt="spasmodic">
                            <p class="image-title">Spasmodic</p>
                        </div>
                        <div class="image-item">
                            <img src="images/songicon/water.png" alt="water">
                            <p class="image-title">WATER</p>
                        </div>
                        <div class="image-item">
                            <img src="images/songicon/wintercube.png" alt="wintercube">
                            <p class="image-title">Winter Cube</p>
                        </div>

                        <div class="image-item">
                            <img src="images/songicon/distorted.png" alt="distorted">
                            <p class="image-title">Distorted Fate</p>
                        </div>
                        <div class="image-item">
                            <img src="images/songicon/xing.png" alt="xing">
                            <p class="image-title">XING</p>
                        </div>
                        <div class="image-item">
                            <img src="images/songicon/confusion.png" alt="confusion">
                            <p class="image-title">Confusion</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>